#outer
{
    background: goldenrod;
    height:300px;
    width:600px;
    padding: 40px 40px 40px 40px ;
}
#inner{
    background: red;
    height:150px;
    width:500px;
    margin: 20px auto;
    padding: 10px;
}

.abc
{
    height: 70px;
    width:70px;
    background: orange;
    

}

.abc4
{
    height: 70px;
    width:70px;
    background: orange;
    margin: 10px auto;

}

.abc3
{
    height: 70px;
    width:70px;
    background: orange;
    margin: 10px auto;

}

.abc1
{
    height: 70px;
    width:70px;
    background: orange;
    margin: 10px auto;

}

.abc2
{
    height: 70px;
    width:70px;
    background: orange;
    margin: 10px auto;

}